<table class="table table-striped table-hover tabler-bordered col-centered">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">Abertura</th>
            <th class="text-center">Última atualização</th>
            <th class="text-center">Departamento</th>
            <th class="text-center">Status</th>
            <th class="text-center">Movimentações</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let requisicao of requisicoes$ | async">
            <td class="text-center">
                {{requicao.dataAbertura?.toDate() | date : 'dd/MM/yyyy HH:mm'}}
            </td>
            <td class="text-center">
                {{requisicao.ultimaAtualizacao?.seconds * 1000 | date : 'dd/MM/yyyy HH:mm'}}
            </td>
            <td class="text-center">
                {{requisicao.destino.nome}}
            </td>
            <td class="text-center">
                {{requicao.status}}
            </td>
            <td class="text-center">
                <span class="badge badge-pill badge-secondary">
                    {{!requisicao.movimentacoes?.lenght ? '0' : requicao.movimentacoes?.lenght}}
                </span>
            </td>
            <button	type="button"	(click)="add(requisicao)" class="btn btn-info">
                <i	class="pi	pi-plus-circle"></i>
            </button>
            <button	type="button"	(click)="verMovimentacoes(requisicao)" class="btn btn-success">
                <i	class="pi	pi-list-alt"></i>
            </button>
        </tr>
    </tbody>
</table>